<ion-view title="{{getString('details')}}" id="details_page" class=" ">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-more" id="btn_refresh_workers"
              on-tap="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-floating-menu menu-color="#0083E5" menu-open-color="#0083E5">
    <ion-floating-item icon="{{command.icon}}" on-tap="cmd('{{command.name}}');" button-color="#0083E5"
                       ng-repeat='command in commands' text="{{getString(command.name)}}" icon-color="#FFFFFF"></ion-floating-item>
  </ion-floating-menu>
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="{{getString('pull to')}}" on-refresh="refresh()">
    </ion-refresher>
    <h2>{{selectedWorker.name}}</h2>
    <table>
      <tr ng-repeat="(key, value) in selectedWorker.data" ng-style="key=='status' && {'font-weight': 'bold'}">
        <td style="padding-right: 6px">{{key}}</td>
        <td>{{value}}</td>
      </tr>
    </table>

  </ion-content>
</ion-view>
