<ion-view title="{{getString('details')}}" id="details_page" class=" ">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-more" id="btn_refresh_workers" on-tap="popover.show($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <h2>{{selectedWorker.name}}</h2>
    <div id="worker_status">{{selectedWorker.data}}</div>

  </ion-content>
</ion-view>
