<ion-view title="Workers" id="workers_page" class=" ">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button hide-nav-bar="true"></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-refresh" id="btn_refresh_workers"
              on-touch="refresh()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>
    <ion-list id="workers-list" class=" ">
      <ion-item class="card" ng-repeat='worker in workers' on-touch="toDetails(worker)">
        <!--ui-sref="menu.details({'workerId': '{{worker.id}}'})"> -->
        <p class="item-icon-right"><i ng-class="{'icon ion-checkmark': worker.status=='working',
                      'icon ion-star': worker.status=='master',
                      'icon ion-close': worker.status=='stopped'}"></i></p>
        <p><b>{{worker.name}}</b></p>
        <p style="word-wrap: break-word;">{{worker.id}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
