<ion-view title="{{getString('workers')}}" id="workers_page" class=" ">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button hide-nav-bar="true"></ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-refresh" id="btn_refresh_workers"
              on-touch="refresh()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="{{getString('pull to')}}" on-refresh="refresh()">
    </ion-refresher>
    <ion-list id="workers-list" class=" ">
      <ion-item class="item" ng-repeat='master in masters'>
        <ion-item class="item-stable"
                  ng-click="toggleGroup(master)"
                  ng-class="{active: isGroupShown(master)}">
          <p class="item-icon-right"> <i class="icon" ng-class="isGroupShown(master) ? 'ion-minus' : 'ion-plus'"></i></p>
          <p><b>{{master.name}}</b></p>
          <p style="word-wrap: break-word;">{{master.id}}</p>
          <p>{{master.running()}} / {{master.workerNum()}}</p>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="worker in master.workers"
                  ng-show="isGroupShown(master)"
                  on-tap="toDetails(worker)">
          <p class="item-icon-right"><i ng-class="{'icon ion-checkmark': worker.status=='working',
                      'icon ion-close': worker.status=='stopped'}"></i></p>
          <p style="word-wrap: break-word;">{{worker.workerId}}</p>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
