# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/
/www/bundle.js
/www/dist/bundle.js
npm-debug.log
*.apk
